@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

.introduction {
  padding-top: 90vh;
}

.introduction__label {
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
}
